@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #0A192F;
    color: #ccdef6;
}

.searchbox {
    text-align: center;
    margin-top: 40px;
    position: relative;
}

.searchbox > p {
    font-size: 14px;
}

input[type="search"] {
    background-color: #fff;
    border: none;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
}

input[placeholder] {
    font-size: 14px;
    word-spacing: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
#search-icon {
    position: absolute;
    right: 580px;
    top: 5px;
    color: #454444;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    column-gap: 50px;
    row-gap: 20px;
}

.child {
    width: 220px;
    height: 220px;
    background-color: #112240;
    padding: 10px;
}

.sub-child > h3 {
    font-size: 20px;
    margin-bottom: 10px;
    height: 70px;
}

.sub-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.child > p {
    color: #fef4f4;
}

.hamburger {
    color: aqua;
}

.footer {
    text-align: center;
    margin-top: 20px;
}