<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" >
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" >
    <title>Home Page</title>
</head>
<body>

   
        <div class="searchbox">
        <input type="search" name="" id="" placeholder="SEARCH A MODULE" />
        <span class="material-symbols-outlined" id="search-icon">search</span>   
        <p>LOOK FOR MODULES BY CATEGORY</p>
    </div>

    <!-- Multiple Section -->
    <div class="container">
        <!-- Child 1 -->
        <a href="{{url_for('quadratic_equation')}}">
            <div class="child">
            <div class="sub-child">
                    <h3>Quadratic <br /> Equation <br /> Solver</h3>
                    <span class="material-symbols-outlined hamburger">menu</span>
            </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos impedit sint explicabo repellendus delectus odit et tempore commodi error deserunt.</p>
            </div>
        </a>

        <!-- Child 2 -->
        <a href="{{url_for('cipher_text')}}">
            <div class="child">
                <div class="sub-child">
                    <h3>Cipher <br /> Text <br /> Encryption</h3>
                    <span class="material-symbols-outlined hamburger">menu</span>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos impedit sint explicabo repellendus delectus odit et tempore commodi error deserunt.</p>
            </div>
        </a>


        <!-- Child 3 -->
        <a href="{{url_for('matrix')}}">
            <div class="child">
                <div class="sub-child">
                    <h3>Matrix <br /> Calculator</h3>
                    <span class="material-symbols-outlined hamburger">menu</span>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos impedit sint explicabo repellendus delectus odit et tempore commodi error deserunt.</p>
            </div>
        </a>


        <!-- Child 4 -->
        <a href="{{url_for('graph')}}">
            <div class="child">
                <div class="sub-child">
                    <h3>Graph <br /> Display</h3>
                    <span class="material-symbols-outlined hamburger">menu</span>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos impedit sint explicabo repellendus delectus odit et tempore commodi error deserunt.</p>
            </div>
        </a>

        <!-- Child 5 -->
            <div class="child">
                <div class="sub-child">
                    <h3>Numerical <br /> Approx</h3>
                    <span class="material-symbols-outlined hamburger">menu</span>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos impedit sint explicabo repellendus delectus odit et tempore commodi error deserunt.</p>
            </div>

        
        <!-- Child 6 -->
        <div class="child">
            <div class="sub-child">
                <h3>Rectification <br /> of Errors</h3>
                <span class="material-symbols-outlined hamburger">menu</span>
           </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos impedit sint explicabo repellendus delectus odit et tempore commodi error deserunt.</p>
        </div>


        <!-- Child 7 -->
        <div class="child">
            <div class="sub-child">
                <h3>Calcus <br /> Solver</h3>
                <span class="material-symbols-outlined hamburger">menu</span>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos impedit sint explicabo repellendus delectus odit et tempore commodi error deserunt.</p>
        </div>


        
    </div>
    
    <!-- Footer Section -->
    <div class="footer">
        <p>Website Title and Logo</p>
        <p>Contact Us</p>
    </div>
</body>
</html>